<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Mi app</title>
</head>
<body>

	<form action="#" th:action="@{/crear-persona}" th:object="${persona}"
		method="post">
		<table>
			<tr>

				<td><label for="ide">Id:</label></td>
				<td><input type="text" th:field="*{id}" id="ide"
					placeholder="id"></td>
				<td><span th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span></td>
			</tr>
			<tr>
				<td><label for="cedula">Cédula:</label></td>
				<td><input type="text" th:field="*{cedula}" id="cedula"
					placeholder="cédula"></td>
				<td><span th:if="${#fields.hasErrors('cedula')}"
					th:errors="*{cedula}"></span></td>
			</tr>
			<tr>
				<td><label for="name">Nombre:</label></td>
				<td><input type="text" th:field="*{nombre}" id="name"
					placeholder="nombre"></td>
				<td><span th:if="${#fields.hasErrors('nombre')}"
					th:errors="*{nombre}"></span></td>
			</tr>
			<tr>
				<td><label for="dir">Dirección:</label></td>
				<td><input type="text" th:field="*{direccion}" id="dir"
					placeholder="dirección"></td>
				<td><span th:if="${#fields.hasErrors('direccion')}"
					th:errors="*{direccion}"></span></td>
			</tr>
			<tr>
				<td><label for="typeDir">Tipo Dirección:</label></td>
				<td><select th:field="*{tipoDireccion}">
						<option th:each="dir : ${direcciones}" th:value="${dir.id}"
							th:text="${dir.descripcion}"></option>
				</select></td>
				<td><span th:if="${#fields.hasErrors('tipoDireccion')}"
					th:errors="*{tipoDireccion}"></span></td>
			</tr>
			<tr>

				<td><input type="submit" value="Enviar"></td>
				<td><a href="/listar">Regresar</a></td>
			</tr>
		</table>
	</form>


</body>
</html>